/Swift/.DS_Store
/Swift/.build
/Swift/Packages
/Swift/*.xcodeproj
/Swift/xcuserdata/
/Swift/DerivedData/
/Swift/.swiftpm/config/registries.json
/Swift/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/Swift/.netrc
/Swift/.vscode
/Rust/target
/Rust/Cargo.lock
/Rust/debug
.vscode